<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vizva.sns_app">

    <!-- What grants access to the users internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".registionActivity" />
        <activity android:name=".HomeActivityReader" />
        <activity android:name=".HomeActivityPub" />
        <activity android:name=".PubPostPage" />
        <activity android:name=".PubSearchPage" />
        <activity android:name=".PubCreateTags" />
        <activity android:name=".ReaderSettingsPage" />
        <activity android:name=".ReaderNewFeed" />
        <activity android:name=".PubSearchResultsPage"></activity>
    </application>

</manifest>